<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="usersSection" type="System.Configuration.NameValueSectionHandler" />
		<section name="testBenchSection" type="System.Configuration.NameValueSectionHandler" />
		<section name="serialPortSection" type="System.Configuration.NameValueSectionHandler" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Proiect_practicaDI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="NumeFisier" value="Date.csv" />
		<add key="NumeFisierTB" value="TB.csv" />
	</appSettings>
	<serialPortSection>
		<add key="PortName" value="COM4" />
		<add key="BaudRate" value="115200" />
		<add key="Parity" value="None" />
		<add key="DataBits" value="8" />
		<add key="StopBits" value="One" />
		<add key="Handshake" value="None" />
	</serialPortSection>
	<usersSection>
		<add key="Eugen" value="0040737774955;98-EE-CB-F3-39-06" />
		<add key="Andrei" value="0040756602113;98-EE-CB-F3-38-CE" />
		<add key="Adi" value="0040757062144;98-EE-CB-F3-39-32" />
		<add key="Alex" value="0040756869230;98-EE-CB-F3-3C-C4" />
		<add key="Florin" value="0040753411336;98-EE-CB-F3-3C-9A" />
		<add key="Ionela" value="0040735459333;11-22-33-44-55-66" />
	</usersSection>
	<testBenchSection>
		<add key="TB1" value="98-EE-CB-F3-39-13" />
		<add key="TB2" value="98-EE-CB-F3-3C-AF" />
		<add key="TB3" value="98-EE-CB-F3-3C-EC" />
		<add key="TB4" value="98-EE-CB-F3-39-34" />
		<add key="TB5" value="98-EE-CB-F3-39-08" />
		<add key="TB6" value="98-EE-CB-F3-38-F6" />
	</testBenchSection>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>